<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en" lang="en">
<head>
  <title><%= controller.controller_name.humanize %>: <%= controller.action_name.humanize %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE">
<%= javascripts %>
<%= stylesheets %>
<%= csrf_meta_tag %>
</head>
<body <%= "onload = \"#{@onload}\"" if @onload %> class="collections single-col mms-media">
<%= render :partial => 'main/banner_start' %>
<div id="main">
  <div id="div_flash-notice"><%= render :partial => 'main/flash_notice' %></div>